body{font-family: "Nunito", sans-serif;
}
#div {
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #fafafa;
    overflow-y: auto;
    margin-left: -120px;
    height: 100%;
}
@media (max-width: 800px) {
    #div {
        margin-left: 0px;
    }
}

#div .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;

}

#div .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
}

#div .profile h1 a,
#div .profile h1 a:hover {
    color: teal;
    text-decoration: none;
}

#main {
    margin-left: 300px;
}

@media (max-width: 1199px) {
    #div {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    #div {
        padding-top: 90px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
    padding-top: 30px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #757575;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    text-decoration: none;
    color: #b1a5a5;
}

.nav-menu p {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 10px 12px;
    margin-bottom: 5px;

    font-size: 15px;
}
.nav-menu .stylereport h6 {
    display: flex;
    align-items: center;
    color: #e53935;
    padding: 10px 12px;
    margin-bottom: 5px;
    font-size: 15px;
}

.stylereport {
    margin-left: 40px;
}

.stylego {
    margin-left: 40px;
}

.nav-menu .stylego h6 {
    display: flex;
    align-items: center;
    color: #9c27b0;
    padding: 10px 12px;
    margin-bottom: 5px;
    font-size: 15px;
}
.nav-menu .stylego svg {
    color: #9c27b0;
}
.nav-menu .stylego :hover h6,
.nav-menu .stylego :hover svg {
    color: #ce93d8;
}

.styleabout h4 {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    color: #008080;
    padding-bottom: 2px;
    font-weight: 600;
}
.styleabout .pabout {
    border-bottom: 1px solid #616161;
}

.styleabout .styleh {
    font-family: "Nunito", sans-serif;
    "Lucida Sans", Arial, sans-serif;
    font-size: 25px;
    color: #546e7a;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.styleabout h6 {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #757575;
    padding-bottom: 10px;
    padding-top: 10px;
}
.styleabout p {
    padding-bottom: 20px;
}
/*******************contact people jobs***************************/
.contact {
    padding-top: 10px;
    margin-bottom: 20px;
}

.contact .info {
    padding: 30px;
    margin-bottom: 50px;

    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact h4 {
    color: #455a64;
}
.contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .info .social-links {
    padding-left: 60px;
}
.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
}
/********************chosenwork****************************/
.stylechosen h6 {
    font-family: "Nunito", sans-serif;
    font-size:25px;
    color: #455a64;
}
.stylechosen p {
    font-size: 15px;
    color: #424242;

    padding-bottom: 10px;
}
p{
    margin-left: 30px ;
    margin-top: 10px;
}
