/*------create acompany account----*/
body{font-family: "Nunito", sans-serif;}
.formstyle {
    margin-top: 50px;
    padding-top: 80px;

    padding-bottom: 20px;
    background-color: #fafafa;
}
.hstyle {
    text-align: center;
}
