body{font-family: "Nunito", sans-serif;}
.jumb h5 {
    color: black;
    font-size: 30px;
    text-align: center;

}
.jumb {
    margin-top: 95px;
    background-color: #e0f2f1;
}

.styleexp {
    background-color: white;
}
.caedhh {
    margin-top: 30px;
}
.card-header {
    font-size: 25px;

}
.media {
    margin-top: 30px;
}
.imgmed {
    max-width: 200px;
    max-height: 50px;
    margin-right: 20px;
}
.cardppp {
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 140px;

}
