body {
    font-family: "Open Sans", sans-serif;
}
@media (min-width: 768px) and (max-width: 1000px) {
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        margin-top: 40px;
    }
    .navbar-collapse.collapse.navbar-nav .imgprofile {
        padding-top: 30px;
        margin-right: 20px;
    }
}
ul li {
    /*padding: 10px;*/
    margin-left: 5px;
    /* padding-top: 10px;*/
}
.bttn {
    margin: 10px;
    padding: 10px;
    margin-top: 10px;
    color: #dde2e2;
}
.navbar {
    min-height: 32px !important;
}
.navbar ul .nav-link:hover {
    background-color: #70b9b0;
}

.navbar .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 50px;
}
.logo {
    max-width: 300px;
    max-height: 80px;
    /* padding-bottom: 20px;*/
}

/*slids*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.8);
    overflow: hidden;
    padding: 0;
    padding-top: 80px;
}

#hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-content {
    text-align: center;
}

#hero h2 {
    color: #68c3ee;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

#hero h2 span {
    color: #5bc0de;
    padding-top: 30px;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    padding-top: 50px;
    padding-left: 30px;
    color: #fff;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
    opacity: 1;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 36px;
    line-height: 1;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}

#hero .carousel-indicators li.active {
    opacity: 1;
    background: #5bc0de;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #eceff1;
}
.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
}

.why-us .box h4 {
    font-size: 30px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    padding-bottom: 70px;
    color: #073839;
}

.why-us .box:hover {
    background: #70b9b0;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box.login-icon {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;

    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}
.editlink {
    text-decoration: none;
    color: black;
}
.editlink:hover {
    text-decoration: none;
    color: black;
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about h3 {
    font-weight: 400;
    font-size: 26px;
}
.baraah {
    margin-top: 10px;
    padding-top: 20px;
}
.baraaa {
    background-color: #eeeeee;
}

.bar {
    text-align: center;
}

.about ul {
    list-style: none;
    padding: 0;
}

.about ul li {
    padding-bottom: 10px;
}

.about ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #70b9b0;
}

.about p:last-child {
    margin-bottom: 0;
}
/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.contact .contact-info {
    position: relative;
    display: flex;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: 0.3s;
}
.contact .baraa {
    margin-top: 20px;
}
.contact .contact-info:hover {
    border-color: transparent;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.contact .contact-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact .contact-icon i {
    font-size: 18px;
    color: #0796fe;
}

.contact .contact-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contact .contact-text h3 {
    font-size: 16px;
    font-weight: 400;
    color: #092a49;
    letter-spacing: 1px;
}

.contact .contact-text p {
    margin: 0;
    font-size: 16px;
}

.contact .contact-form {
    position: relative;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: 0.3s;
}

.contact .contact-form:hover {
    border-color: transparent;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.contact .contact-form input {
    padding: 15px;
    background: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact .contact-form textarea {
    height: 100px;
    padding: 8px 15px;
    background: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact .contact-form .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #092a49;
    background: none;
    border: 2px solid #092a49;
    border-radius: 0;
    transition: 0.3s;
}

.contact .contact-form .btn:hover {
    color: #0796fe;
    background: #092a49;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #073839;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    width: 100%;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
