body{font-family: "Nunito", sans-serif;}
.tm-brand {
    font-size: 2rem;
    color: #b71c1c;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;

}

.tm-brand-box {
    box-sizing: content-box;
    width: 100%;
    max-width: 800px;
    max-height: 10px;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding-left: 100px;
}

.tm-double-border-1,
.tm-double-border-2 {
    border: 1px solid rgb(216, 76, 76);
    position: relative;
}

.tm-double-border-2 {
    top: 10px;
    left: 10px;
}

.tm-border-gray {
    border-color: #b71c1c;
}
.tm-border-gray-1 {
    border-color: #ef5350;
}

/*.tm-box-pad {
    padding: 50px 55px;
}*/

/*.tm-brand {
    padding: 30px;
}*/
.stylep {
    color: #d32f2f;
    font-size: 18px;
    margin-top: 170px;

}
.stylep1 {
    color: #616161;
    font-size: 18px;

}
.md-form {
    margin-top: 20px;

}
label {

}
h5 {
    margin-top: 20px;
    color: #e57373;

}
.stylecircle {
    margin-left: 20px;
}
