body{font-family: "Nunito", sans-serif;}
#div {
    width: 270px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #fafafa;
    overflow-y: auto;
    padding-top: 20px;
    height: 100%;

    margin-left: -120px;
}
@media (max-width: 800px) {
    #div {
        margin-left: 0px;
    }
}

#div .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
}
@media (max-width: 1199px) {
    #div {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    #div {
        padding-top: 90px;
    }
}
.nav {
    padding-top: 30px;
}

.nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display: flex;
    align-items: center;
    color: #424242;
    padding: 12px 15px;
    margin-bottom: 15px;

    transition: 0.3s;
    font-size: 15px;
}

.nav a:hover,
.nav .active > a,
.nav li:hover > a {
    text-decoration: none;
    color: #b1a5a5;
}
.container h4 {
    font-size: 25px;
    color: #607d8b;
    letter-spacing: 3px;
    margin-left: 80px;
}
.media-body p {
    font-size: 16px;
    color:#11052C;
    margin-top: -9px;
}

.media-body p svg {
    color: #721e1e;
}
.styleiconsave {
    margin-left: 100px;
    margin-top: 20%;
    color: black;
}
@media (max-width: 576px) {
    .cardppp {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        margin-bottom: 1rem;
    }
}
/************************تبع الاشعارات***************************/
.styleiconnot a {
    display: flex;
    align-items: center;
    color: #424242;
    padding: 12px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    transition: 0.3s;
    font-size: 15px;
}
.styleiconnot li {
    background-color: #fafafa;
}
.styleiconnot a:hover,
.styleiconnot .active > a,
.styleiconnot li:hover > a {
    text-decoration: none;
    color: #80cbc4;
}
