body{font-family: "Nunito", sans-serif;}
div ul {
    padding-right: 70px;
    padding-bottom: 10px;
}

.ddrop {
    color: black;
    font-size: 18px;
}
.ddrop:hover {
   background-color: #70b9b0;
    color: black;
    border-radius: 30px;
    text-decoration: none;
}
button {
    background-color: #343a40;
    /*  margin-right: 5px;*/
    margin-left: 50px;
}
.imgprofile {
    max-width: 200px;
    max-height: 50px;
    margin-top: 10px;
    margin-left: 40px;
}
.badge-notify {
    position: relative;
    top: -43px;
    right: -10px;
    background-color: red;
    font-size: 10px;
}
.badgeMessage-notify {
    position: relative;
    top: -43px;
    right: -18px;
    background-color: red;
    font-size: 10px;
}
